{% extends "posts/base.html" %}

{% block content %}

{% for post in posts %}
    <div>
        {{ post.author.id }}
        {{ post.author.username }}
        <img src = "{{ post.author.profile_photo }}"/>
        {{ post.id }}
        <br/>
        <img src = "{{ post.image }}"/>
        <br/>
        {{ post.caption }}

        {% for comment in post.comment_post %}
        <br> {{ comment.contents }}
        {% endfor %}

        <div>
            ---------------------------------
        </div>

    </div>
{% endfor %}

{% endblock content %}
