{% load static %}
<div>
  <ul id="main-menu">
    <li><a href="#">Home</a>
	  <ul class="sub-menu">
        <li><a href="#" aria-label="subemnu">submenu</a></li>
        <li><a href="#" aria-label="subemnu">submenu</a></li>
      </ul>
	</li>
    <li><a href="{% url 'exercise:start' %}">exercise</a>
      <ul class="sub-menu">
        <li><a href="{% url 'exercise:routine' %}" aria-label="subemnu">routine</a></li>
        <li><a href="{% url 'exercise:playlist' %}" aria-label="subemnu">playlist</a></li>
      </ul>
    </li>
    <li><a href="#">diet</a>
      <ul class="sub-menu">
        <li><a href="#" aria-label="subemnu">submenu</a></li>
        <li><a href="#" aria-label="subemnu">submenu</a></li>
      </ul>
    </li>
    <li><a href="{% url 'Community:feed' %}">Community</a>
    </li>
    <li><a href="#">My Page</a>
      <ul class="sub-menu">
        <li><a href="{% url 'myPage:index' %}" aria-label="subemnu">profile</a></li>
        <li><a href="#" aria-label="subemnu">submenu</a></li>
      </ul>
    </li>
  </ul>
</div>
