{% load static %}
<div>
  <ul id="main-menu">
    <li><a href="#">Home</a>
	  <ul class="sub-menu">
        <li><a href="#" aria-label="subemnu">submenu</a></li>
        <li><a href="#" aria-label="subemnu">submenu</a></li>
      </ul>
	</li>
    <li><a href="#">exercise</a>
      <ul class="sub-menu">
        <li><a href="#" aria-label="subemnu">submenu</a></li>
        <li><a href="#" aria-label="subemnu">submenu</a></li>
      </ul>
    </li>
    <li><a href="#">diet</a>
      <ul class="sub-menu">
        <li><a href="#" aria-label="subemnu">submenu</a></li>
        <li><a href="#" aria-label="subemnu">submenu</a></li>
      </ul>
    </li>
    <li><a href="{% url 'Community:feed' %}">Community</a>
    </li>
    <li><a href="{% url 'myPage:index' %}">My Page</a>
      <ul class="sub-menu">
        <li><a href="#" aria-label="subemnu">submenu</a></li>
        <li><a href="#" aria-label="subemnu">submenu</a></li>
      </ul>
    </li>
  </ul>
</div>
